<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Phim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png?v=@DateTime.Now.Ticks" alt="Logo Web Phim" style="height:70px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Thể loại
                            </a>

                            @await Component.InvokeAsync("CategoryList")

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="GeneralMovie" asp-action="Index" asp-route-slug="phim-bo">Phim Bộ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="GeneralMovie" asp-action="Index" asp-route-slug="phim-le">Phim Lẻ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="GeneralMovie" asp-action="Index" asp-route-slug="hoat-hinh">Hoạt Hình</a>
                        </li>
                    </ul>
                    <form class="d-flex search-form" asp-controller="Search" asp-action="Index" method="get">
                        <!-- Từ khóa tìm kiếm -->
                        <input class="form-control me-2 flex-grow-1" type="search" placeholder="Tìm kiếm phim..." aria-label="Search" name="keyword" value="@ViewBag.CurrentKeyword">

                    

                        <button class="btn btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Web Phim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>